In [1]:
# importing libraries
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/seoul-bike-rental-ai-pro-iti/sample_submission.csv
/kaggle/input/seoul-bike-rental-ai-pro-iti/train.csv
/kaggle/input/seoul-bike-rental-ai-pro-iti/test.csv

In [2]:
#load training data 
train_data = pd.read_csv("/kaggle/input/seoul-bike-rental-ai-pro-iti/train.csv")
train_data.head()

,ID,Date,y,Hour,Temperature(�C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(�C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [3]:
print("The shape of the dataset is {}.\n\n".format(train_data.shape))

The shape of the dataset is (5760, 15).

In [4]:
train_data.describe()

,ID,y,Hour,Temperature(�C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(�C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm)
count,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000
mean,2879.500000,703.483854,11.500000,12.803559,58.361806,1.723333,1473.711458,4.058264,0.572325,0.135122,0.046302
std,1662.913107,655.249491,6.922788,11.902206,19.840167,1.047898,585.879880,13.003582,0.869943,1.075320,0.323728
min,0.000000,0.000000,0.000000,-15.100000,0.000000,0.000000,27.000000,-26.900000,0.000000,0.000000,0.000000
25%,1439.750000,188.000000,5.750000,3.200000,43.000000,0.900000,1025.750000,-5.400000,0.000000,0.000000,0.000000
50%,2879.500000,485.500000,11.500000,13.700000,57.000000,1.500000,1732.000000,5.200000,0.010000,0.000000,0.000000
75%,4319.250000,1066.000000,17.250000,22.225000,73.000000,2.300000,2000.000000,14.700000,0.940000,0.000000,0.000000
max,5759.000000,3556.000000,23.000000,39.400000,98.000000,7.400000,2000.000000,27.200000,3.520000,35.000000,5.100000

In [5]:
#Count NaN values under an entire DataFrame
train_data.isna().sum().sum()

0

In [6]:
# Count duplicates in all dataframe
print(train_data.duplicated().sum())

0

In [7]:
# Encoding 
train_data['Holiday'].replace({"Holiday": 0, "No Holiday": 1}, inplace=True)
train_data['Functioning Day'].replace({"No": 0, "Yes": 1}, inplace=True)
train_data['Seasons'].replace({"Autumn": 1, "Spring": 2, "Summer": 3, "Winter": 4},inplace = True)

train_data

,ID,Date,y,Hour,Temperature(�C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(�C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,4,1,1
1,1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,4,1,1
2,2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,4,1,1
3,3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,4,1,1
4,4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,4,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5755,5755,20/11/2018,1317,19,8.7,34,2.2,1857,-6.3,0.0,0.0,0.0,1,1,1
5756,5756,20/11/2018,1078,20,8.5,32,2.6,1789,-7.2,0.0,0.0,0.0,1,1,1
5757,5757,20/11/2018,1020,21,8.8,37,3.8,1750,-5.1,0.0,0.0,0.0,1,1,1
5758,5758,20/11/2018,922,22,8.9,40,3.4,1810,-3.9,0.0,0.0,0.0,1,1,1
5759,5759,20/11/2018,378,23,9.3,43,3.5,1807,-2.6,0.0,0.0,0.0,1,1,1

In [8]:
y = train_data.y
features_columns = ['Hour','Temperature(�C)','Humidity(%)','Wind speed (m/s)','Visibility (10m)','Dew point temperature(�C)','Solar Radiation (MJ/m2)','Rainfall(mm)','Snowfall (cm)','Seasons','Holiday','Functioning Day']
X = train_data[features_columns]

In [9]:
#Data Splitting
# Import the train_test_split function and uncomment
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y =train_test_split(X, y, random_state = 42)

In [10]:
from sklearn.tree import DecisionTreeRegressor
# Specify the model
model = DecisionTreeRegressor(random_state=1)

# Fit iowa_model with the training data.
model.fit(train_X,train_y)

DecisionTreeRegressor(random_state=1)

In [11]:
# Predict with all validation observations
val_predictions = model.predict(val_X)
val_predictions

array([1156., 1445.,  164., ...,  398.,  783.,    0.])

In [12]:
print("The accuracy of the DecisionTreeRegressor on the validation set is ", (model.score(val_X, val_y)))

The accuracy of the DecisionTreeRegressor on the validation set is  0.7799149330250752

In [13]:
from sklearn.metrics import mean_absolute_error
val_mae = mean_absolute_error(val_y,val_predictions)
val_mae

178.14305555555555

# Submission File Generation

In [14]:
test_data = pd.read_csv("/kaggle/input/seoul-bike-rental-ai-pro-iti/test.csv")
print(test_data.shape)
test_data.head()

(3000, 14)

,ID,Date,Hour,Temperature(�C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(�C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,5760,21/12/2017,0,-1.3,90,2.0,259,-2.7,0.0,0.0,2.2,Winter,No Holiday,Yes
1,5761,21/12/2017,1,-1.8,90,1.6,263,-3.2,0.0,0.0,2.2,Winter,No Holiday,Yes
2,5762,21/12/2017,2,-2.2,88,1.4,348,-3.9,0.0,0.0,2.2,Winter,No Holiday,Yes
3,5763,21/12/2017,3,-2.9,89,1.3,288,-4.4,0.0,0.0,2.2,Winter,No Holiday,Yes
4,5764,21/12/2017,4,-3.6,91,1.2,241,-4.8,0.0,0.0,2.2,Winter,No Holiday,Yes

In [15]:
# Encoding 
test_data['Holiday'].replace({"Holiday": 0, "No Holiday": 1}, inplace=True)
test_data['Functioning Day'].replace({"No": 0, "Yes": 1}, inplace=True)
test_data['Seasons'].replace({"Autumn": 1, "Spring": 2, "Summer": 3, "Winter": 4},inplace = True)

test_data

,ID,Date,Hour,Temperature(�C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(�C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,5760,21/12/2017,0,-1.3,90,2.0,259,-2.7,0.0,0.0,2.2,4,1,1
1,5761,21/12/2017,1,-1.8,90,1.6,263,-3.2,0.0,0.0,2.2,4,1,1
2,5762,21/12/2017,2,-2.2,88,1.4,348,-3.9,0.0,0.0,2.2,4,1,1
3,5763,21/12/2017,3,-2.9,89,1.3,288,-4.4,0.0,0.0,2.2,4,1,1
4,5764,21/12/2017,4,-3.6,91,1.2,241,-4.8,0.0,0.0,2.2,4,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,8755,30/11/2018,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,1,1,1
2996,8756,30/11/2018,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,1,1,1
2997,8757,30/11/2018,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,1,1,1
2998,8758,30/11/2018,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,1,1,1
2999,8759,30/11/2018,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,1,1,1

In [16]:
features_test_columns = ['Hour','Temperature(�C)','Humidity(%)','Wind speed (m/s)','Visibility (10m)','Dew point temperature(�C)','Solar Radiation (MJ/m2)','Rainfall(mm)','Snowfall (cm)','Seasons','Holiday','Functioning Day']
test_X = test_data[features_test_columns]
test_X

,Hour,Temperature(�C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(�C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,0,-1.3,90,2.0,259,-2.7,0.0,0.0,2.2,4,1,1
1,1,-1.8,90,1.6,263,-3.2,0.0,0.0,2.2,4,1,1
2,2,-2.2,88,1.4,348,-3.9,0.0,0.0,2.2,4,1,1
3,3,-2.9,89,1.3,288,-4.4,0.0,0.0,2.2,4,1,1
4,4,-3.6,91,1.2,241,-4.8,0.0,0.0,2.2,4,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,1,1,1
2996,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,1,1,1
2997,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,1,1,1
2998,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,1,1,1
2999,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,1,1,1

In [17]:

y_test_predicted = model.predict(test_X)

test_data['y'] = y_test_predicted.astype(int)

test_data.head()

,ID,Date,Hour,Temperature(�C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(�C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,y
0,5760,21/12/2017,0,-1.3,90,2.0,259,-2.7,0.0,0.0,2.2,4,1,1,149
1,5761,21/12/2017,1,-1.8,90,1.6,263,-3.2,0.0,0.0,2.2,4,1,1,149
2,5762,21/12/2017,2,-2.2,88,1.4,348,-3.9,0.0,0.0,2.2,4,1,1,149
3,5763,21/12/2017,3,-2.9,89,1.3,288,-4.4,0.0,0.0,2.2,4,1,1,102
4,5764,21/12/2017,4,-3.6,91,1.2,241,-4.8,0.0,0.0,2.2,4,1,1,89

In [18]:
test_data[['ID', 'y']].to_csv('/kaggle/working/submission.csv', index=False)

In [19]:
test_data[['ID', 'y']].shape

(3000, 2)